.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .left-panel {
    width: 30%;
  }
  
  .right-panel {
    width: 70%;
    text-align: center;
  }
  
  .dropdown-container {
    margin-bottom: 20px;
  }
  
  .big-image {
    max-width: 100%;
    height: auto;
  }