<div class="container">
  <div class="left-panel">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Фурнитура:</mat-label>
        <mat-select (selectionChange)="onChangeSafeFurniture($event)">
          <mat-option value="default" hidden></mat-option>
          <mat-option *ngFor="let option1 of safeFurnitureOptions" [value]="option1">{{ option1 }}<mat-divider></mat-divider></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Цвет кожи:</mat-label>
        <mat-select (selectionChange)="onChangeSafeType($event)">
          <mat-option value="default" hidden></mat-option>
          <mat-option *ngFor="let option1 of safeTypeOptions" [value]="option1">{{ option1 }}<mat-divider></mat-divider></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Окантовка:</mat-label>
        <mat-select (selectionChange)="onChangeSafeOutline($event)">
          <mat-option value="default" hidden></mat-option>
          <mat-option *ngFor="let option1 of safeTypeOptions" [value]="option1">{{ option1 }}<mat-divider></mat-divider></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Строчка вертикальная:</mat-label>
        <mat-select (selectionChange)="onChangeSafeVerticalOutline($event)">
          <mat-option value="default" hidden></mat-option>
          <mat-option *ngFor="let option1 of safeThreadsOptions" [value]="option1">{{ option1 }}<mat-divider></mat-divider></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Строчка горизонтальня:</mat-label>
        <mat-select (selectionChange)="onChangeSafeHorizontalOutline($event)">
          <mat-option value="default" hidden></mat-option>
          <mat-option *ngFor="let option1 of safeThreadsOptions" [value]="option1">{{ option1 }}<mat-divider></mat-divider></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  <div class="right-panel">
    <!-- сама тушка сейфа -->
    <img *ngIf="selectedSafeTypeOption === 'Black'" src="../../assets/img/closed_safe_type/1/base-1.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Blue'" src="../../assets/img/closed_safe_type/1/base-2.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Brown'" src="../../assets/img/closed_safe_type/1/base-3.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Cherry Red'" src="../../assets/img/closed_safe_type/1/base-4.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Cream'" src="../../assets/img/closed_safe_type/1/base-5.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Frozen Blue'" src="../../assets/img/closed_safe_type/1/base-6.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Grey'" src="../../assets/img/closed_safe_type/1/base-7.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Havanna Brown'" src="../../assets/img/closed_safe_type/1/base-8.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Honey Yellow'" src="../../assets/img/closed_safe_type/1/base-9.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Jungle Green'" src="../../assets/img/closed_safe_type/1/base-10.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Lagoon Blue'" src="../../assets/img/closed_safe_type/1/base-11.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Lava Orange'" src="../../assets/img/closed_safe_type/1/base-12.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Lemon Yellow'" src="../../assets/img/closed_safe_type/1/base-13.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Lizzard Green'" src="../../assets/img/closed_safe_type/1/base-14.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Maple Green'" src="../../assets/img/closed_safe_type/1/base-15.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Mint Ice'" src="../../assets/img/closed_safe_type/1/base-16.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Ocean Blue'" src="../../assets/img/closed_safe_type/1/base-17.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'Pebble Grey'" src="../../assets/img/closed_safe_type/1/base-18.png" alt="Big image" class="base-image">
    <img *ngIf="selectedSafeTypeOption === 'White'" src="../../assets/img/closed_safe_type/1/base-19.png" alt="Big image" class="base-image">

    <!-- металлические части -->
    <img *ngIf="selectedSafeFurnitureOptions === 'Bronze'" src="../../assets/img/closed_safe_type/2/furnite-1.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeFurnitureOptions === 'Classic'" src="../../assets/img/closed_safe_type/2/furnite-2.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeFurnitureOptions === 'Gold'" src="../../assets/img/closed_safe_type/2/furnite-3.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeFurnitureOptions === 'Graphite'" src="../../assets/img/closed_safe_type/2/furnite-4.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeFurnitureOptions === 'Grey'" src="../../assets/img/closed_safe_type/2/furnite-5.png" alt="Big image" class="child-image">

    <!-- окантовка -->
    <img *ngIf="selectedSafeOutlineOption === 'Black'" src="../../assets/img/closed_safe_type/3/outline-1.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Blue'" src="../../assets/img/closed_safe_type/3/outline-2.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Brown'" src="../../assets/img/closed_safe_type/3/outline-3.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Cherry Red'" src="../../assets/img/closed_safe_type/3/outline-4.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Cream'" src="../../assets/img/closed_safe_type/3/outline-5.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Frozen Blue'" src="../../assets/img/closed_safe_type/3/outline-6.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Grey'" src="../../assets/img/closed_safe_type/3/outline-7.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Havanna Brown'" src="../../assets/img/closed_safe_type/3/outline-8.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Honey Yellow'" src="../../assets/img/closed_safe_type/3/outline-9.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Jungle Green'" src="../../assets/img/closed_safe_type/3/outline-10.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Lagoon Blue'" src="../../assets/img/closed_safe_type/3/outline-11.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Lava Orange'" src="../../assets/img/closed_safe_type/3/outline-12.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Lemon Yellow'" src="../../assets/img/closed_safe_type/3/outline-13.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Lizzard Green'" src="../../assets/img/closed_safe_type/3/outline-14.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Maple Green'" src="../../assets/img/closed_safe_type/3/outline-15.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Mint Ice'" src="../../assets/img/closed_safe_type/3/outline-16.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Ocean Blue'" src="../../assets/img/closed_safe_type/3/outline-17.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'Pebble Grey'" src="../../assets/img/closed_safe_type/3/outline-18.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeOutlineOption === 'White'" src="../../assets/img/closed_safe_type/3/outline-19.png" alt="Big image" class="child-image">

    <!-- строчка вертикальная -->
    <img *ngIf="selectedSafeVerticalThreadOption === 'Black'" src="../../assets/img/closed_safe_type/4/thread-vertical-1.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeVerticalThreadOption === 'Brown'" src="../../assets/img/closed_safe_type/4/thread-vertical-2.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeVerticalThreadOption === 'Red'" src="../../assets/img/closed_safe_type/4/thread-vertical-3.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeVerticalThreadOption === 'White'" src="../../assets/img/closed_safe_type/4/thread-vertical-4.png" alt="Big image" class="child-image">

    <!-- строчка горизонтальня -->
    <img *ngIf="selectedSafeHorizontalThreadOption === 'Black'" src="../../assets/img/closed_safe_type/5/thread-horizontal-1.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeHorizontalThreadOption === 'Brown'" src="../../assets/img/closed_safe_type/5/thread-horizontal-2.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeHorizontalThreadOption === 'Red'" src="../../assets/img/closed_safe_type/5/thread-horizontal-3.png" alt="Big image" class="child-image">
    <img *ngIf="selectedSafeHorizontalThreadOption === 'White'" src="../../assets/img/closed_safe_type/5/thread-horizontal-4.png" alt="Big image" class="child-image">
  </div>
</div>