<!-- home.component.html -->
<div class="page-container">
  <!-- Хедер -->
  <header class="app-header2">
  </header>

  <header class="app-header">
    <h1>Сейф</h1>
  </header>

  <!-- Основной контент -->
  <div class="container">
    <div class="left-panel">
      <form [formGroup]="safeForm">
        <!-- Фурнитура -->
        <mat-form-field appearance="fill" class="dropdown-container"  panelClass="custom-select-panel">
          <mat-label>Фурнитура</mat-label>
          <mat-select formControlName="safeFurniture" aria-label="Выбор фурнитуры" >
            <mat-option *ngFor="let option of safeFurnitures" [value]="option.value">
              {{ option.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Цвет кожи -->
        <mat-form-field appearance="fill" class="dropdown-container"  panelClass="custom-select-panel">
          <mat-label>Цвет кожи</mat-label>
          <mat-select formControlName="safeType" aria-label="Выбор цвета кожи">
            <mat-option *ngFor="let option of safeTypes" [value]="option.value">
              {{ option.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Окантовка -->
        <mat-form-field appearance="fill" class="dropdown-container"  panelClass="custom-select-panel">
          <mat-label>Окантовка</mat-label>
          <mat-select formControlName="safeOutline" aria-label="Выбор окантовки">
            <mat-option *ngFor="let option of safeTypes" [value]="option.value">
              {{ option.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Строчка вертикальная -->
        <mat-form-field appearance="fill" class="dropdown-container"  panelClass="custom-select-panel">
          <mat-label>Строчка вертикальная</mat-label>
          <mat-select formControlName="threadVertical" aria-label="Выбор вертикальной строчки">
            <mat-option *ngFor="let option of safeThreads" [value]="option.value">
              {{ option.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Строчка горизонтальная -->
        <mat-form-field appearance="fill" class="dropdown-container"  panelClass="custom-select-panel">
          <mat-label>Строчка горизонтальная</mat-label>
          <mat-select formControlName="threadHorizontal" aria-label="Выбор горизонтальной строчки">
            <mat-option *ngFor="let option of safeThreads" [value]="option.value">
              {{ option.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div class="right-panel">
      <!-- Наложение изображений с общим центром -->
      <div class="image-container" 
      (mousemove)="moveMagnifier($event)"
      (mouseenter)="showMagnifier()"
      (mouseleave)="hideMagnifier()">
        
        <!-- Базовое изображение -->
        <img [src]="imagePaths['base']" [alt]="safeForm.value.safeType || 'Default Base'" class="base-image" />

        <!-- Фурнитура -->
        <img *ngIf="imagePaths['furniture']" [src]="imagePaths['furniture']" [alt]="safeForm.value.safeFurniture || 'Default Furniture'" class="child-image" />

        <!-- Окантовка -->
        <img *ngIf="imagePaths['outline']" [src]="imagePaths['outline']" [alt]="safeForm.value.safeOutline + ' Outline' || 'Default Outline'" class="child-image" />

        <!-- Строчка вертикальная -->
        <img *ngIf="imagePaths['threadVertical']" [src]="imagePaths['threadVertical']" [alt]="safeForm.value.threadVertical + ' Vertical Thread' || 'Default Vertical Thread'" class="child-image" />

        <!-- Строчка горизонтальная -->
        <img *ngIf="imagePaths['threadHorizontal']" [src]="imagePaths['threadHorizontal']" [alt]="safeForm.value.threadHorizontal + ' Horizontal Thread' || 'Default Horizontal Thread'" class="child-image" />
      
        <!-- Лупа -->
        <div class="magnifier" *ngIf="magnifierVisible" [ngStyle]="magnifierStyles">
          <div class="magnifier-content" [ngStyle]="magnifierContentStyles">
            <!-- Копии изображений для лупы -->
            <img [src]="imagePaths['base']" class="base-image magnified" />
            <img *ngIf="imagePaths['furniture']" [src]="imagePaths['furniture']" class="child-image magnified" />
            <img *ngIf="imagePaths['outline']" [src]="imagePaths['outline']" class="child-image magnified" />
            <img *ngIf="imagePaths['threadVertical']" [src]="imagePaths['threadVertical']" class="child-image magnified" />
            <img *ngIf="imagePaths['threadHorizontal']" [src]="imagePaths['threadHorizontal']" class="child-image magnified" />
            <!-- ... остальные изображения с классом 'magnified' ... -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Футер -->
  <footer class="app-footer">
    <p>&copy; 2024 Конфигуратор Сейфа. Все права защищены.</p>
  </footer>
</div>
