.container {
  width: 100%;
}
  
.left-panel {
  width: 20%;
  height: 100%;
  float: left;
}
  
.right-panel {
  margin-left: 20%;
  height: 100%;
}
  
.dropdown-container {
  margin-bottom: 20px;
}
  
.base-image {
  width: 1024px;
  height: 1024px;
  position: absolute;
}

.child-image {
  width: 1024px;
  height: 1024px;
  position: absolute;
}